<h1>Welcome to scrabble</h1>
<h2>Enter a word and we'll assign it a value and give you the total score</h2>
<form action='/'>
  <div class="form-group">
    <label for="word">Enter your word here</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">scrabble!</button>
</form>
